hardhat/artifacts/
hardhat/cache/
hardhat/node_modules/
hardhat/build/

hardhat/.env
hardhat/package-lock.json

truffle/artifacts/
truffle/cache/
truffle/node_modules/
truffle/build/

truffle/.env
truffle/package-lock.json